@font-face{font-family:MiloWeb-Bold;src:url('#{resource["fonts:MiloWeb-Bold.eot"]}')}
@font-face{font-family:MiloWeb-Bold;src:url('#{resource["fonts:MiloWeb-Bold.woff"]}') format("woff")}
@font-face{font-family:MiloWeb-Text;src:url('#{resource["fonts:MiloWeb-Text.eot"]}')}
@font-face{font-family:MiloWeb-Text;src:url('#{resource["fonts:MiloWeb-Text.woff"]}') format("woff")}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}");
  src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}?#iefix") format('embedded-opentype'), url("#{resource['fonts:glyphicons-halflings-regular.woff2']}") format('woff2'), url("#{resource['fonts:glyphicons-halflings-regular.woff']}") format('woff'), url("#{resource['fonts:glyphicons-halflings-regular.ttf']}") format('truetype'), url("#{resource['fonts:glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular") format('svg');
}


::-moz-selection{
    background-color:#ad163f;
    color:#fff;
}
::selection{
    background-color:#ad163f;
    color:#fff;
}

* {
    font-family: Helvetica, sans-serif;
    font-size: small;
}
body {
    background-color: white;
    color:#666;
    padding-top: 117px;
    padding-bottom: 150px;
}
a {
    color: #ad163f;
    text-decoration: none;
}
th {
    text-align: left;
    padding-right: 5pt;
    color: #ad163f;
}
td {
    vertical-align: top;
    padding-right: 5pt;
}

header {
    background-color: #bf0d3e;
    color: #ffffff;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    background-color: #2a2730;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1.title {
    font-size: 32px;
    line-height: normal;
    font-family: MiloWeb-Bold;
    margin-bottom: 20px;
}

h1.title a {
    color: inherit;
    font-size: inherit;
}

h1.title a:hover,
h1.title a:focus,
h1.title a:active {
    text-decoration: none;
}

.logo {
    width: 45px;
    height: 45px;
    fill: #fff;
    margin: 10px 15px 0 0;
    float: left;
}

.languages {
    float: right;
    margin-top: 6px;
    text-transform: uppercase;
}

.subnav {
    text-transform: capitalize;
}

.languages h2,
.subnav h2 {
    font-family: MiloWeb-Text, Helvetica, sans-serif;
    font-weight: normal;
    color: #666;
    font-size: 24px;
    line-height: normal;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.languages h2 {
    margin-left: 10px;
    margin-right: 10px;
}

h2 a {
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
}

h2 a:hover,
h2 a:focus,
h2 a:active {
    color: #fff;
    text-decoration: none;
}

.subnav h2 {
    margin: 0;
    padding: 0;
}

.subnav h2.active,
.subnav h2:hover {
    background-color: #fff;
}

.subnav h2 a {
    padding: 10px 20px;
    display: inline-block;
}

.subnav h2.active a,
.subnav h2:hover a {
    color: #ad163f;
}

h2 a.active {
    text-decoration: underline;
}

.subtitle {
    font-size: x-large;
    font-family: MiloWeb-Text, Helvetica, sans-serif;
}

.heading {
    font-size: large;
    font-weight: bold;
    color: #ad163f;
}
.important {
    font-weight: bold;
}
.info {
    color: black;
}

label {
    padding: 0 5px;
}

.search {
    margin-bottom: 20px;
}
.content {
    padding: 30px 0;
}

.form-group > .alert {
    margin-top: 15px;
    display: none;
}

.form-group > .error ~ .alert {
    display: block;
}

.alert-list > ul {
    display: inline-block;
    list-style: none;
    padding-left: 20px;
}

table input[type=submit] {
    padding: 2px 8px;
}  

.cellar table th:last-child {
    min-width: 105px;
}

.model-switcher {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar-fixed-top {
    border-bottom: 0;
    box-shadow: 0 4px 10px 0px gray;
}

.alert > .glyphicon {
    margin-right: 5px;
}

.spacer {
    margin-top: 40px;
}